body {
    background-color: #f2f2f2; /* Cor de fundo principal */
    font-family: Arial, sans-serif; /* Fonte padrão */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px; /* Largura máxima do conteúdo  */
    margin: 20px auto; /* Centralizar o conteúdo na página  */
    background-color: #fff; /* Cor de fundo do conteúdo */
    padding: 20px;
    border-radius: 10px; /* Borda arredondada  */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  /* Sombra suave */ 
    flex: 1;
} 
  
      
/* Estilizar os botões */
button {
    padding: 15px 30px; /* Espaçamento interno */
    background-color: #007bff; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    border: none; /* Remover borda */
    border-radius: 10px; /* Borda arredondada */
    cursor: pointer; /* Cursor de mão ao passar por cima */
    transition: background-color 0.3s ease; /* Transição suave de cor */
    margin: 5px auto; /* Margem automática para centralizar */
    display: block; /* Transformar em bloco para aplicar margem automática */
    width: 20%; /* Largura do botão */
}

button:hover {
    background-color: #0056b3; /* Cor de fundo ao passar por cima */
}

/* Estilizar input */
input[type="number"] {
    padding: 10px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: 1px solid #ccc; /* Borda */
    border-radius: 5px; /* Borda arredondada */
    margin: 5px; /* Margem */
    width: calc(100% - 22px); /* Largura do input (considerando padding e borda) */
}

/* Estilizar a tabela */
table {
    width: 100%; /* Define a largura da tabela como 100% da largura do contêiner */
    border-collapse: collapse; /* Remove a separação entre as bordas das células */
    margin-top: 20px; /* Margem superior para separação do conteúdo acima */
    max-width: 600px;
    margin: 20px auto;
    background-color: ghostwhite;
}

/* Estilizar as células da tabela */
td {
    padding: 10px; /* Espaçamento interno das células */
    border: 1px solid #ddd; /* Borda das células */
    text-align: center; /* Alinhamento do texto no centro das células */
}

/* Estilizar o cabeçalho da tabela */
th {
    padding: 10px; /* Espaçamento interno das células do cabeçalho */
    border: 1px solid #ddd; /* Borda das células do cabeçalho */
    background-color: #f2f2f2; /* Cor de fundo do cabeçalho */
    text-align: center; /* Alinhamento do texto no centro do cabeçalho */
}


@media(max-width: 550px){
    button{
        width: 120px;
    }
    #tabela thead{
        font-size:90%;  
    }
    #tabela tbody{
        font-size:80%;  
    }
}